@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700&family=Lato:wght@400;700&family=Oswald:wght@400;700&family=Poppins:wght@400;600&family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&family=Merriweather:wght@400;700&family=Raleway:wght@400;700&family=Work+Sans:wght@400;700&family=Nunito:wght@400;700&display=swap');

@import "tailwindcss";

/* Optional layer to add font utilities */
@layer utilities {
  .font-inter {
    font-family: 'Inter', sans-serif;
  }
  .font-poppins {
    font-family: 'Poppins', sans-serif;
  }
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  .font-lato {
    font-family: 'Lato', sans-serif;
  }
  .font-oswald {
    font-family: 'Oswald', sans-serif;
  }
  .font-open-sans {
    font-family: 'Open Sans', sans-serif;
  }
  .font-merriweather {
    font-family: 'Merriweather', serif;
  }
  .font-raleway {
    font-family: 'Raleway', sans-serif;
  }
  .font-work-sans {
    font-family: 'Work Sans', sans-serif;
  }
  .font-nunito {
    font-family: 'Nunito', sans-serif;
  }
}
